<div class="InfoMainBox">
    <div class="channelInfoContainer">
        <div class="nickNameBox">
            <div class="channelInfoImg">
                <img src="<%= channel.channelImage %>" />
            </div>
            <div class="infoContentWrap">
                <div class="myChannelNickname"><%= channel.channelName %></div>
                <div class="infoEtc"><span class="spacelLeft"><%= channel.description %> </span></div>
            </div>
        </div>

        <div class="myChannelInfoDetail">
            <div hidden class="chargeBtn"><button>💜충전</button></div>
            <div class="blank"></div>

            <div class="startLiveBtn"><button id="goToStudioBtn">방송하기</button></div>
            <div class="channelSettingBtn spacelLeft btn" id="channelManagement">채널관리</div>
        </div>
    </div>

    <div class="channelInfoSettingContainer" hidden>
        <div class="channelInfoSettingWrap">
            <form class="channelInfoSettingForm" id="channelSettingForm" enctype="multipart/form-data">
                <h2 class="channelInfoTitle">채널 정보</h2>
                <div class="channelInfoSettingInputBoxName">
                    <span class="channelTitleHeader">채널명</span>
                    <input
                        type="text"
                        name="channelName"
                        class="channelTitleInput"
                        maxlength="20"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-lg"
                        value="<%=  channel.channelName %>"
                    />
                </div>
                <div class="channelImageWrap" id="channelInfoSettingImage">
                    <span class="channelTitleHeader">썸네일</span>
                    <div class="channelImageINputWrap">
                        <input type="file" name="file" accept="image/jpg, image/jpeg" class="fileUploadForm" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" />
                        <button class="uploadBtn" type="button">Upload</button>
                    </div>
                </div>
                <div class="settingStreamkeyInputWrap">
                    <span class="channelTitleKeyHeader" id="inputGroup-sizing-default-streamKey">스트림키</span>
                    <div class="getNewKeyWrap">
                        <span id="streamKeyValue" class="streamkeyVal" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"><%= channel.streamKey %></span>
                        <button class="getNewStreamkeyBtn" type="button" id="streamKeyGetNew">재발급</button>
                    </div>
                </div>
                <div class="channelInfoSettingInput" id="channelInfoSettingTextWrap">
                    <span class="channelTitleHeader">상세정보</span>
                    <textarea name="channelDescription" class="channelInfoText" id="channelInfoSettingText" maxlength="100" placeholder="채널 소개글을 작성해 주세요">
<%=channel.description%></textarea
                    >
                </div>
                <div class="channelInfoBtnWrap">
                    <button type="submit" class="channelSettingSaveBtn">저장</button>
                    <button type="button" id="exitBtn" class="channelSettingSaveBtn">닫기</button>
                </div>
            </form>
        </div>
    </div>

    <div class="homeBox">
        <aside class="guideCallout">💡 방송을 원하시면 가이드에 따라 방송 설정을 해주셔야 합니다. 차근차근 잘 따라와주세요😊</aside>
        <div class="guidBox">
            <h2 class="guideList">📺 아래 링크에서 OBS Studio를 설치해 주세요.</h2>

            <a class="obsLink" href="https://obsproject.com/ko">👉 OBS 설치 링크 클릭!</a>

            <h2 class="guideList">📺 로그인 후, ‘내 채널’로 가서 ‘채널 관리’를 클릭하세요.</h2>

            <div class="guideImg"><img src="/imgs/guide-1.png" alt="Untitled" /></div>

            <h2 class="guideList">📺 내 채널의 ‘스트림 키’를 복사하세요.</h2>

            <div class="guideImg"><img src="/imgs/guide-2.png" alt="Untitled" /></div>

            <h2 class="guideList">📺 OBS Studio 설정 변경하기 - OBS Studio를 실행하고 ‘설정’ 버튼을 클릭하세요.</h2>
            <div class="guideImg"><img src="/imgs/guide-5.png" alt="Untitled" /></div>

            <h2 class="guideList">📺 메뉴 리스트에서 ‘방송하기’를 클릭한 다음, 서비스, 서버, 스트림 키를 설정하고 적용 버튼을 클릭하세요.</h2>
            <p>1) 서비스 - 사용자 지정</p>
            <p>2) 서버 - rtmp://34.64.48.209/live</p>
            <p>3) 스트림 키 - 당신의 채널에 발급된 스트림 키를 입력하세요</p>
            <div class="guideImg"><img src="/imgs/guide-6.png" alt="Untitled" /></div>

            <h2 class="guideList">📺 OBS에서 방송 시작 버튼을 클릭하세요.</h2>
            <div class="guideImg"><img src="/imgs/guide-7.png" alt="Untitled" /></div>

            <h2 class="guideList">📺 라잇 사이트 설정하기 - 내 채널에서 ‘방송하기’ 버튼을 클릭하세요.</h2>
            <div class="guideImg"><img src="/imgs/guide-8.png" alt="Untitled" /></div>

            <h2 class="guideList">📺 방송 제목과 내용을 입력하고 ‘방송 시작’ 버튼을 클릭하세요.</h2>
            <div class="guideImg"><img src="/imgs/guide-9.png" alt="Untitled" /></div>

            <h2 class="guideList">💡 방송이 끝나면 반드시 ‘방송 종료’ 버튼을 클릭하세요!</h2>

            <div class="guideImg"><img src="/imgs/guide-10.png" alt="Untitled" /></div>
        </div>
    </div>

    <script defer src="/script/channelInfo.js"></script>
    <script defer src="/script/channelSetting.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
</div>
ㄴ
