<div class="liveMainBox">
    <div class="liveVideoBox">
        <div class="VideoBox">
            <div class="videoSection">
                <video id="video" autoplay width="100%" height="777px" controls></video>
            </div>
            <!-- <div class="videoSetting">
                <div class="setting1">
                    <div class="play">
                        <img src="/imgs/play-button-arrowhead.png" />
                    </div>
                    <div class="stop" hidden>
                        <img src="/imgs/stop-button.png" />
                    </div>
                    <div class="volume"><img src="/imgs/speaker-volume.png" /></div>
                    <div class="liveSign">
                        <div>실시간</div>
                        <img src="/imgs/full-stop.png" />
                    </div>
                </div>
                <div class="setting2">
                    <div class="settingBtn">
                        <img src="/imgs/settings-cogwheel-button.png" />
                    </div>
                    <div class="wideBtn"><img src="/imgs/fullscreen.png" /></div>
                </div>
            </div> -->
        </div>
        <div class="liveStreamerInfo">
            <div class="liveTitle spacelLeft">
                <span> <%= live.title %> </span>
                <span class="channelIdInLive"><%= live.channel.channelId %></span>
                <span class="liveIdInLive"><%= live.live_id %></span>
            </div>
            <div class="streamerInfo spacelLeft">
                <div class="streamerImg">
                    <img
                        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTAyMDVfMTY0%2FMDAxNTQ5MzM4NjIwNjc1.mzkfCyxtLSjd30KwM03TnQKuK6R0_YN_fEgum6keu_Ag.DmJQJt0KI2F3vHtgysCcienO83ENBNLCJI5JFmPoE90g.JPEG.koega%2F%25B3%25C8.jpg&type=a340"
                    />
                </div>
                <div class="streamerInfoDetail spacelLeft">
                    <div class="streamerNickname"><span> <%= live.channelName %> </span></div>
                    <div class="streamerTheme">
                        <span> <%= live.title %> </span>
                    </div>
                    <div class="streamInfo">
                        <!-- <div>현재<span> 5,131 </span>시청중</div> -->
                        <div class="streamerDescription"><%= live.description %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="liveChatBox">
        <div class="chatTitle">채팅</div>
        <div class="chatMain" id="chatBoxWrap">
            <div class="chatBox" id="chatBox">
                <div class="chatList" id="oneChat">
                    <div class="chatNickname" id="chatNickname">방정맞은 라이언</div>
                    <div class="chatText" id="chatText">대박이네요!!</div>
                </div>
            </div>
            <div class="chatInput">
                <input type="text" id="chatInput" class="chatInputText" style="width: 80%; font-size: 20px; color: whitesmoke" />
                <button id="sendChatBtn">전송</button>
            </div>
        </div>
    </div>
</div>
<script defer src="/script/chat.js"></script>

<script defer>
    const channelId = document.querySelector('.channelIdInLive').textContent;
    const liveId = document.querySelector('.liveIdInLive').textContent;
    document.addEventListener('DOMContentLoaded', async () => {
        await axios
            .get(`/api/live/${liveId}`)
            .then(function (response) {
                //console.log('response: ', response);

                const streamKey = response.data.channel.streamKey;
                //console.log('streamKey: ', streamKey);

                if (Hls.isSupported()) {
                    1;
                    const hls = new Hls({
                        debug: false,
                    });

                    //console.log(`http://localhost:8080/hls/${streamKey}/index.m3u8`);
                    hls.loadSource(`http://localhost:8080/hls/${streamKey}/index.m3u8`);
                    hls.attachMedia(video);
                    hls.on(Hls.Events.MEDIA_ATTACHED, function () {
                        video.muted = true;
                        video.play();
                    });
                }
            })
            .catch(function (error) {
                //console.log(error);
            });
    });
</script>
